* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --purple: #7e33e0;
    --pink: #fb2e86;
    --light-purple: #e0d3f5;
    --dark-purple: #2e174e;
    --small-text: 16px;
    --big-text: 53px;
}
body {
    width: 100%;
}
#home-page {
    height: 764px;
    width: 100%;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--purple);
    color: white;
    font-size: var(--small-text);
    height: 44px;
    width: 100%;
}
header a {
    color: white;
}
header .header-content {
    gap: 76px;
    min-width: 1200px;
    display: flex;
    align-items: center;
}
.nav1 {
    display: flex;
    justify-content: center;
    width: 100%;
}
.content-nav {
    min-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 29px;
}
.content-nav2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav1 input {
    height: 40px;
    width: 317px;
    border-radius: 2px var(--pink);
}
a {
    text-decoration: none;
    font-size: var(--small-text);
    color: var(--dark-purple);
}

h1 {
    color: black;
    font-size: var(--big-text);
    margin-top: 12px;
}
h2 {
    font-size: var(--small-text);
    color: var(--pink);
    margin-top: 230px;
}
h3 {
    font-size: var(--small-text);
    color: var(--dark-purple);
    margin-top: 12px;
}
button {
    color: white;
    font-size: 17px;
    background-color: var(--pink);
    border-radius: 2px;
    height: 50px;
    width: 163px;
    border-style: none;
    margin-top: 43px;
}
#home-page .home-bg {
    position: absolute;
    height: 769px;
    width: 1519px;
    z-index: -1;
    top: 90px;
}

.home-img1 {
    position: absolute;
    width: 706px;
    height: 689px;
    right: 0px;
    top: 161px;
}
.home-content {
    position: absolute;
    left: 250px;
}
.home-img2 {
    position: absolute;
    z-index: -1;
    height: 387px;
    width: 387px;
    top: 91px;
    left: -40px;
}
