* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html {
    font-size: 62.5%;
}
:root {
    --purple: #7e33e0;
    --pink: #fb2e86;
    --light-purple: #e0d3f5;
    --dark-purple: #2e174e;
    --small-text: 16px;
    --big-text: 53px;
    --white-color: #f6f7fb;
}
body {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--purple);
    height: 44px;
    width: 100%;
}
header .header-content {
    width: 70%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    gap: 40px;
}
header .header-content h4 {
    color: #f1f1f1;
}
header .header-content h3 {
    color: #f1f1f1;
}
nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}
nav .content-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 29px;
}
nav .nav-container {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
nav .nav-container input {
    height: 40px;
    width: 317px;
    border: 2px solid #e7e6ef;
    margin-top: 2px;
}
nav .content-nav a {
    text-decoration: none;
    font-size: var(--small-text);
    color: var(--dark-purple);
}

/*HOME-PAGE1*/
#home-page1 {
    height: 764px;
    width: 100%;
    background-color: #f2f0ff;
    display: flex;
    align-items: center;
}
#home-page1 .content-container {
    display: flex;
    flex-direction: column;
    flex: 0.5 1;
}
#home-page1 .content-container h1 {
    color: black;
    font-size: var(--big-text);
    margin-top: 12px;
    font-weight: 700;
}
#home-page1 .content-container h2 {
    font-size: var(--small-text);
    color: var(--pink);
}
#home-page1 .content-container h3 {
    font-size: var(--small-text);
    color: #8a8fb9;
    margin-top: 12px;
}
#home-page1 .content-container button {
    color: white;
    font-size: 17px;
    background-color: var(--pink);
    border-radius: 2px;
    height: 50px;
    width: 163px;
    border-style: none;
    margin-top: 43px;
    cursor: pointer;
}

#home-page1 .lamp-img-container {
    align-self: flex-start;
    display: flex;
    flex: 0.25 1;
}

#home-page1 .chair-img-container {
    display: flex;
    flex: 0.25 1;
}

#home-page2 {
    width: 100%;
    height: 500px;
    position: relative;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--white-color);
    margin: 30px;
    width: 270px;
    height: 371px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%;
    height: 240px;
}

#home-page2 h1 {
    font-size: 42px;
    color: var(--dark-purple);
    display: flex;
    justify-content: center;
}
.card-container2 {
    width: 100%;
    height: 1000px;
}
.card-content {
    background-color: white;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-content h2 {
    color: var(--pink);
    font-size: 18px;
    margin-top: 20px;
}
.card-content h3 {
    color: #151875;
    font-size: 14px;
    margin-top: 16px;
}
.card-content p {
    color: #151875;
    font-size: 14px;
    margin-top: 7px;
}
.card-content img {
    width: 52px;
    margin-top: 12px;
}

.card-container2 ul {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 25px;
}
.card-container2 ul button {
    border: none;
    background-color: white;
    color: #151875;
    font-size: 18px;
}
.card-container2 h1 {
    margin-top: 120px;
    text-align: center;
    font-size: 42px;
    color: #151875;
}
.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
    margin-top: 83px;
}
.cards2 {
    height: 269px;
    width: 360px;
    background: var(--white-color);
}
.cards2 img {
    width: 10%;
    object-fit: cover;
}
.card-content2 h2 {
    color: #151875;
    font-size: 16px;
    margin-top: 16px;
}
.card-content2 p {
    color: #151875;
    font-size: 14px;
    margin-top: 16px;
}
.card-container3 {
    width: 100%;
    height: 400px;
}
.cards3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 40px;
}
.card-container3 h1 {
    color: #151875;
    font-size: 42px;
    text-align: center;
}
.card3 {
    height: 270px;
    width: 270px;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    text-align: center;
}
.card3 img {
    width: 49px;
    margin-top: 50px;
    height: 36px;
    width: 65px;
}
.content-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-container3 p {
    font-size: 16px;
    color: gray;
    margin-top: 20px;
}
.content-container3 h2 {
    font-size: 22px;
    color: #151875;
    margin-top: 40px;
}

#home-page3 {
    width: 100%;
    height: 579px;
    background-color: #f1f0ff;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
}
#home-page3 img {
    width: 481px;
    height: 449.62px;
}
.content-homepage3 h1 {
    font-size: 35px;
    color: #151875;
    margin-top: 97px;
    line-height: 46px;
}
.content-homepage3 h2,
h3,
h4 {
    font-size: 16px;
    margin-top: 13px;
    color: #acabc3;
}
.content-homepage3 button {
    color: white;
    font-size: 17px;
    background-color: var(--pink);
    border-radius: 2px;
    height: 50px;
    width: 163px;
    border-style: none;
    margin-top: 28px;
    cursor: pointer;
}
.content-homepage3 h5 {
    font-size: 14px;
    color: #151875;
}
.button-h5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
#home-page4 h1 {
    margin-top: 132px;
    font-size: 42px;
    color: #151875;
    text-align: center;
}
.cards4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}
.cards4 h2 {
    font-size: 14px;
    color: #151875;
    margin-top: 15px;
}
.cards4 p {
    margin: 9px;
    font-size: 14px;
}
.card4 {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 270px;
    text-align: center;
}
.card4 img {
    margin-top: 11px;
    background: #f5f6f8;
    height: 244px;
    width: 247px;
}
#home-page5 {
    margin-top: 40px;
    width: 100%;
}
.content-container5 h2 {
    font-size: 26px;
    color: #151875;
    margin-top: 34px;
    margin-left: 25px;
}
.content-container5 p {
    font-size: 16px;
    color: #fb2e86;
    text-decoration: underline;
    margin-top: 11px;
    margin-left: 25px;
}
.cards5 {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.card51 {
    background-color: #fff6fb;
    height: 270px;
    width: 420px;
}
.card52 {
    height: 270px;
    width: 420px;
}
.card51 img {
    height: 207px;
    width: 213px;
}
.card52 {
    background-color: #eeeffb;
}

.cards53 img {
    height: 74px;
    width: 107px;

    border-radius: 0px;

    background-color: #f5f6f8;
}
.cards53 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card53 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.card53 p {
    display: flex;
    color: #151875;
    text-decoration: line-through;
    font-size: 12px;
}
.card-content53 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.card-content53 h1 {
    color: #151875;
    font-size: 16px;
    text-align: center;
}
#home-page6 {
    margin-top: 130px;
    width: 100%;
}
#home-page6 h1 {
    text-align: center;
    color: #151875;
    font-size: 42px;
}
#home-page6 .list1 li {
    color: #151875;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    list-style: none;
}
.list1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#home-page6 h2 {
    font-size: 35px;
    color: #151875;
    margin-top: 110px;
}
#home-page6 h3 {
    color: #fb2e86;
    font-size: 21px;
    margin-top: 16px;
}
#home-page6 p {
    font-size: 17px;
    color: #b7bacb;
    margin-top: 16px;
}
.list2 li {
    color: #b7bacb;
    size: 16px;
    margin-top: 28px;
    list-style: none;
}
#home-page6 button {
    color: white;
    font-size: 17px;
    background-color: var(--pink);
    border-radius: 2px;
    height: 50px;
    width: 163px;
    border-style: none;
    margin-top: 28px;
    cursor: pointer;
}
.content6 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-page7 {
    margin-top: 80px;
    height: 550px;
    width: 100%;
}
#home-page7 h1 {
    color: #151875;
    font-size: 42px;
    text-align: center;
}
.cards7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    gap: 40px;
}
.card7 h2 {
    font-size: 20px;
    color: #151875;
    margin-top: 72px;
}
.card7 p {
    font-size: 16px;
    color: #151875;
    margin-top: 13px;
}

.card7 {
    height: 269px;
    width: 269px;
    background-color: #f6f7fb;
    border-radius: 1500px;
    text-align: center;
}
.card7 img {
    margin-top: 60px;
    height: 157px;
    width: 158px;
}
#home-page8 {
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 178px;
}
#home-page8 img {
    position: absolute;
    height: 462px;
    width: 1519px;
    z-index: -1;
}
.content8 h1 {
    font-size: 35px;
    color: #151875;
    text-align: center;
    margin-top: 174px;
}
.content8 button {
    color: white;
    font-size: 17px;
    background-color: var(--pink);
    border-radius: 2px;
    height: 50px;
    width: 163px;
    border-style: none;
    margin-top: 28px;
    cursor: pointer;
}
.content8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img8 img {
    height: 93px;
    width: 904px;
    margin-left: 340px;
}
#blog-page h1 {
    font-size: 42px;
    color: #151875;
    text-align: center;
    margin-top: 100px;
}
.cards8 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-top: 80px;
}
.card8 {
    height: 493px;
    width: 370px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card8 ul {
    list-style: none;
    display: flex;
    gap: 44px;
    font-size: 14px;
    color: #151875;
    margin-top: 18px;
    margin-left: 19px;
}
.card8 h2 {
    color: #151875;
    font-size: 18px;
    margin-top: 31px;
    margin-left: 19px;
}
.card8 p {
    font-size: 16px;
    color: #72718f;
    margin-top: 17px;
    margin-left: 19px;
}
.card8 button {
    border: none;
    background-color: white;
    margin-top: 14px;
    font-size: 16px;
    cursor: pointer;
    color: #151875;
    text-decoration: underline;
    margin-left: 19px;
}
.card8 img {
    border-radius: 5px;
}
