* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html {
    font-size: 62.5%;
}
:root {
    --purple: #7e33e0;
    --pink: #fb2e86;
    --light-purple: #e0d3f5;
    --dark-purple: #2e174e;
    --small-text: 16px;
    --big-text: 53px;
    --white-color: #f6f7fb;
}
body {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--purple);
    height: 44px;
    width: 100%;
}
header .header-content {
    width: 70%;
    display: flex;
    align-items: flex-start;
    height: 100%;
    gap: 40px;
    align-items: center;
}
header .header-content h4 {
    color: #f1f1f1;
    font-size: 16px;
}
header .header-content h3 {
    color: #f1f1f1;
    font-size: 16px;
}
nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}
nav .content-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 29px;
}
nav .nav-container {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
nav .nav-container input {
    height: 40px;
    width: 317px;
    border: 2px solid #e7e6ef;
    margin-top: 2px;
}
nav .content-nav a {
    text-decoration: none;
    font-size: var(--small-text);
    color: var(--dark-purple);
}
#contact .information h1 {
    color: #151875;
    font-size: 36px;
}
#contact .information p {
    color: #8a8fb9;
    font-size: 16px;
    margin-top: 13px;
}
#contact .get-in-touch h1 {
    color: #151875;
    font-size: 36px;
    margin-top: 176px;
}
#contact .get-in-touch p {
    color: #8a8fb9;
    font-size: 16px;
    margin-top: 20px;
}
#contact .get-in-touch button {
    color: white;
    font-size: 17px;
    background-color: var(--pink);
    border-radius: 2px;
    height: 50px;
    width: 163px;
    border-style: none;
    cursor: pointer;
    margin-top: 33px;
}

#contact .contact-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#contact .contact-container .information img {
    margin-top: 70px;
}
#contact .contact-way .contact-way1 {
    display: flex;
}
#contact .contact-way .contact-way2 {
    display: flex;
}

#contact .contact-way h1 {
    font-size: 36px;
    color: #151875;
}
#contact .contact-way .contact-way1 h1 {
    font-size: 16px;
    color: #8a8fb9;
}
#contact .contact-way .contact-way2 h1 {
    font-size: 16px;
    color: #8a8fb9;
}
.contact1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact .contact-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container {
    display: flex;
    gap: 24px;
    margin-top: 46px;
}
.input-container input {
    width: 255px;
    height: 45px;
    border-color: #a4b6c8b2;
}
.input-container2 input {
    width: 534px;
    height: 45px;
    border-color: #a4b6c8b2;
    margin-top: 34px;
}
.input-container3 input {
    height: 166px;
    width: 534px;
    border-color: #a4b6c8b2;
    margin-top: 47px;
}
